<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatorio</title>
</head>
    <style>
        .tudo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 800px;
            width: 80%;
            background-color: red;

        }

        
    </style>
<body>
    <div class="tudo">
            <span class="logo">1</span>
            <span class="percentual">2</span>
            <span class="ranking">3</span>
            <span class="selo">4</span>
    </div>
</body>
</html>